/* Globals styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  

body{
    background: rgb(2, 14, 24);
    color: #ddd;
}

a{
    text-decoration: none;
    color: #eee;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

textarea{
    resize: none;
}

@media(max-width:500px){
    body{
        font-size: 14px;
    }
}